		<div class="sixteen columns alpha omega">
			<footer>
				&copy; 2012 Brian Scaturro - <a href="http://feeds.feedburner.com/brianscaturro" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a id="subscribe-link" href="http://feeds.feedburner.com/brianscaturro" rel="alternate" type="application/rss+xml">subscribe</a>
			</footer>
		</div>
	</div>
	<script type="text/javascript" src="/js/site.js"></script>
</body>
</html>