<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="I enjoy programming stuff - up to and including things!">
	<meta name="author" content="Brian Scaturro">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>	
<body>
	<div class="container">
		<header id="branding" class="sixteen columns">
			<hgroup>
				<h1 class="site-heading">Brian Scaturro</h1>
				<h2 class="site-subheading">Fancy a dance?</h2>
			</hgroup>
		</header>
		<div id="main" role="main" class="sixteen columns">
			{{ content }}
			<aside class="five columns omega">
				<img class="aligncenter add-bottom photo" src="/images/steed.jpg" alt="some of my best thinking occurs on unicorns">
				<h2 class="sub-heading">Recent Posts</h2>
				<ul class='posts'>
					{% for post in site.posts limit:4 %}
					<li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
					{% endfor %}
					<li><h3><a href="/">The rest....</a></h3></li>
				</ul>
			</aside>
		</div>
	</div>
</body>
</html>